.redesSociais {
    padding-top: 1.5em;
    color: var(--corFundo-sec);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.redesSociais__titulo {
    background: var(--corFundo-sec);
    padding: 0.5em 3em;
    border-radius: 1em;
    font-family: var(--fontePrinci);
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.redesSociais-container {
    display: flex;
    gap: 1em;
    padding: 1em;
}

.redesSociais-container__link {
    color: var(--corFundo-sec);
    padding: 1em;
    border: 0.25em solid var(--corFundo-sec);
    border-radius: 1em;
    font-family: var(--fontePrinci);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .redesSociais__titulo {
        font-size: 3.5em;
        padding: 0.5em 2.5em;
    }

    .redesSociais-container {
        gap: 2em;
    }

    .redesSociais-container__link {
        font-size: 2.5em
    }
}