.rodape {
    background-color: var(--corBranca);
    margin-top: 0.75rem;
    padding-bottom: 1rem;
}

.rodape-texto {
    padding: 1rem 0;
    text-align: center;
    color: var(--textoDestaque);
    font-size: 1.25rem;
    font-weight: 800;
}

